img {
	width: 100%;
}

.landingpage-background {
    background: url('../Images/CLEARWATER_SWIM_UNDERWATER_629_1920.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.jumbotron {
  padding: 30px 15px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: inherit;
  background-color: rgba(250, 230, 187, 0.5);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #95b9c7;
  background-color: #839099;
  background-image: url('../Images/depositphotos_4368177-Cork-board.jpg');
}

.navbar-default {
  background-color: rgba(248, 248, 248, 0.7);
  border-color: rgba(248, 248, 248, 0.7);
}


 