body {
	font-family: Helvetica Neue;
}

h1 {
    font-size: 600%;
    font-weight: bold;
}

/*
  Module: Polaroid; I do not understand why it won't apply this class when I add it.  what am I doing wrong
*/

.polaroid > a > h2, .polaroid > h3 {
	font-family: Galeforce BTN;
	font-weight: bold;
}

.polaroid > a > h2 {
	font-size: 270%;
}

.polaroid > h3 {
	font-size: 290%;
}  

label {
	font-size: 250%;
	font-weight: bold;
}

